
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Playfair+Display+SC&family=Roboto:wght@300&display=swap');

 
header{
    background-color: black;
    text-align: left;
    font-family:Nunito
}
.hero-img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

body{
    max-width: 1600px;
    margin:0 auto;
    text-align: center;
    font-family: Roboto;
    font: 22px;
    padding: 0;
}
div header {
    text-align: left;
    background-color: black ;
}
 #backround{
    width: 725px;
}
body{
    background-color: #E0E1E1; 
    text-align: center;
    color: black;
}
h1{
    color: black;
    text-align: center;
    font-size: large;
}
h2{
    color: black;
    text-align: center;
    font-size: large;
    margin: 0;
}
nav a{
    text-align:left;
    color: #E0E1E1;
    text-decoration: none;
    font-size:x-large;
    font-family: Playfair Display SC;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{ 
    text-align: center;
}
.button-box  {
    text-align: center;
    color:black;
    background-color:#003852;
}
main section{
    text-align: center;}
    
nav a :hover {
    background-color: #85D8FF;
    color: #1F1E1F;
}
footer section {
    background-color: #E0E1E1;
}
footer a{
    color: black;
    background-color: #becaca ;
    text-decoration: none;
}
footer a :hover{
    color: #85D8FF;
}
.home-title {
    color: #E0E1E1;
}
h4 {
    color: #E0E1E1;
}
.book, .join{
    background-color: #E0E1E1;
    color: #85D8FF;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #003852;
    color: #85D8FF;
}
.msg{
    background-color: #003852;
    align-items: center;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color: #E0E1E1;
}
.msg p{
    color: #E0E1E1;
    font-size: .8em;
    padding-bottom: 15px;
}
.hero-img {
    align-self: center;   
}
.book{
    color: #85D8FF
}
footer p{ 
    font-size: 1.8em;
    color:black;
    text-align: center;

}
footer p a:hover {
    text-decoration: underline;
}
#logo-link {
    width: 80px;
    text-align:left;
    padding-top: 5px;
}
.img {
   align-items: center;
}
.book{
    text-align: center;
    color:wheat
}
.icon { 
    padding-top: 10px;
}
div .hero-img{
    width: fit-content;
    text-align: center;
}
footer h1{
    color: black;
}
footer h2{
    color:black
}
div .book{
    background-color:#003852 ;
}
.home-title{
    font-size: 2em;
    font-family: Roboto;
    margin-top: 10px ;
}
footer{
    padding: 25px 50px;
    margin-top: 200px;
}
footer.social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{ margin: 200px 0;}
.card-img{ 
    border: 10px solid #003852;
}
main section img{
    box-sizing: border-box;
}